In [0]:
import pandas as pd

In [0]:
train_data = pd.read_pickle('/content/drive/My Drive/Colab Notebooks/data/데이콘/스타2/train.pkl')
test_data = pd.read_pickle('/content/drive/My Drive/Colab Notebooks/data/데이콘/스타2/test.pkl')

In [0]:
data = train_data
#data = test_data

# 미네랄 가스부스트 렐리포인트 파생변수 생성
- 최종: tqp.csv

In [0]:
# player별 분리
data_0=data[data['player'] == 0]
data_1=data[data['player'] == 1]

In [0]:
def word_count(df,word):
  return (df['event_contents'].str.contains(word)==True).sum()

In [0]:
word_1 = 'DestructibleSignsConstruction'
word_2 = 'DestructibleSignsFunny'
word_3 = 'None'

t = data_0.groupby('game_id').apply(lambda x:word_count(x,word_1)).rename('count_{}'.format(word_1))
p = data_0.groupby('game_id').apply(lambda x:word_count(x,word_2)).rename('count_{}'.format(word_2))
q = data_0.groupby('game_id').apply(lambda x:word_count(x,word_3)).rename('count_{}'.format(word_3))

In [0]:
t=t.reset_index()
p=p.reset_index()
q=q.reset_index()

In [0]:
tpq_0 = t.merge(p,on='game_id').merge(q,on='game_id')

In [0]:
tpq_0.head()

   game_id  ...  count_None
0  38872.0  ...          21
1  38873.0  ...           0
2  38874.0  ...           6
3  38875.0  ...           0
4  38876.0  ...           0

[5 rows x 4 columns]

In [0]:
tpq_0.to_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/스타2/tpq_test_0.csv')

---

In [0]:
# player 1도 똑같이 적용

word_1 = 'DestructibleSignsConstruction'
word_2 = 'DestructibleSignsFunny'
word_3 = 'None'

t = data_1.groupby('game_id').apply(lambda x:word_count(x,word_1)).rename('count_{}'.format(word_1))
p = data_1.groupby('game_id').apply(lambda x:word_count(x,word_2)).rename('count_{}'.format(word_2))
q = data_1.groupby('game_id').apply(lambda x:word_count(x,word_3)).rename('count_{}'.format(word_3))

t=t.reset_index()
p=p.reset_index()
q=q.reset_index()

tpq_1 = t.merge(p,on='game_id').merge(q,on='game_id')

In [0]:
tpq_1.head()

   game_id  ...  count_None
0  38872.0  ...           5
1  38873.0  ...           2
2  38874.0  ...           2
3  38875.0  ...           8
4  38876.0  ...           1

[5 rows x 4 columns]

In [0]:
tpq_1.to_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/스타2/tpq_test_1.csv')