In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
train = pd.read_pickle('/content/drive/My Drive/Colab Notebooks/data/데이콘/스타2/train.pkl')
test = pd.read_pickle('/content/drive/My Drive/Colab Notebooks/data/데이콘/스타2/test.pkl')

Camera :0

In [0]:
def make_df(toy_data,id): #toy_data는 내가 넣을 data임. 귀찮아서 안바꿨당 쏘리쏘리
  #아이디별 본진 좌표값 저장
  st_axis_0=np.array(toy_data[(toy_data['game_id']==id)&
           (toy_data['player']==0)&
           (toy_data['event']==0)][['x_axis','y_axis']])[0]
         
  st_axis_1=np.array(toy_data[(toy_data['game_id']==id)&
           (toy_data['player']==1)&
           (toy_data['event']==0)][['x_axis','y_axis']])[0]
  
  # 계산
  df_abs_0=abs(toy_data[(toy_data['game_id']==id)&
           (toy_data['player']==0)&
           (toy_data['event']==0)][['x_axis','y_axis']][-200:] - st_axis_0)

  df_abs_1=abs(toy_data[(toy_data['game_id']==id)&
           (toy_data['player']==1)&
           (toy_data['event']==0)][['x_axis','y_axis']][-200:] - st_axis_1)
  
  df_abs_0['x+y']= df_abs_0['x_axis']+df_abs_0['y_axis']
  df_abs_1['x+y']= df_abs_1['x_axis']+df_abs_1['y_axis']

  from collections import OrderedDict
  data = OrderedDict()

  for idx,i in enumerate( np.array(df_abs_0['x+y'])):
    data['0_%s'%(idx)]=[i]
  for idx,i in enumerate( np.array(df_abs_1['x+y'])):
    data['1_%s'%(idx)]=[i]
  
  final_df = pd.DataFrame(data,columns=data.keys())
  
  #print(final_df)
  return final_df

In [4]:
# event == Camera만 남겨두고 모든 행은 없애도록 하자.
train_data = train[train['event']==0]
train_data

test_data = test[test['event']==0]
test_data

          game_id  time  player  species  event                  event_contents
0         38872.0     0     0.0      1.0    0.0          at (22.25, 81.5078125)
1         38872.0     0     1.0      1.0    0.0       at (120.25, 153.83984375)
6         38872.0     0     1.0      1.0    0.0       at (120.25, 153.25390625)
7         38872.0     0     1.0      1.0    0.0       at (120.25, 152.43359375)
8         38872.0     0     1.0      1.0    0.0      at (117.96875, 152.765625)
...           ...   ...     ...      ...    ...                             ...
28714829  55658.0     4     1.0      0.0    0.0   at (128.4921875, 39.67578125)
28714830  55658.0     4     1.0      0.0    0.0  at (126.65234375, 41.51171875)
28714831  55658.0     4     1.0      0.0    0.0  at (124.45703125, 43.70703125)
28714833  55658.0     4     0.0      2.0    0.0  at (126.10546875, 42.29296875)
28714845  55658.0     4     0.0      2.0    0.0   at (70.9921875, 117.65234375)

[13557866 rows x 6 columns]

In [5]:
for data in [train_data,test_data]:
  data['new_event']=data.loc[data['event']==0,'event_contents'].apply(lambda x: x.lstrip('at ('))
  data['new_event']=data.loc[data['event']==0,'new_event'].apply(lambda x: x.rstrip(')'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

메모리를 위해 train과 test를 지우자

In [0]:
del train
del test

In [8]:
train_data

          game_id  ...                  new_event
0             0.0  ...         145.25, 21.5078125
1             0.0  ...         22.75, 147.0078125
4             0.0  ...  142.99609375, 24.50390625
5             0.0  ...   142.5078125, 24.98828125
6             0.0  ...    139.6171875, 27.8828125
...           ...  ...                        ...
67091769  38871.0  ...   51.0390625, 115.51171875
67091770  38871.0  ...   51.0390625, 116.61328125
67091771  38871.0  ...    139.578125, 62.58203125
67091773  38871.0  ...   122.42578125, 45.4296875
67091774  38871.0  ...  122.42578125, 43.25390625

[31629407 rows x 8 columns]

In [9]:
train_data['new_event']=train_data['new_event'].apply(lambda x: x.split(','))
train_data.head()

   game_id  ...                     new_event
0      0.0  ...         [145.25,  21.5078125]
1      0.0  ...         [22.75,  147.0078125]
4      0.0  ...  [142.99609375,  24.50390625]
5      0.0  ...   [142.5078125,  24.98828125]
6      0.0  ...    [139.6171875,  27.8828125]

[5 rows x 8 columns]

In [10]:
test_data['new_event']=test_data['new_event'].apply(lambda x: x.split(','))
test_data.head()

   game_id  time  ...              event_contents                 new_event
0  38872.0     0  ...      at (22.25, 81.5078125)      [22.25,  81.5078125]
1  38872.0     0  ...   at (120.25, 153.83984375)   [120.25,  153.83984375]
6  38872.0     0  ...   at (120.25, 153.25390625)   [120.25,  153.25390625]
7  38872.0     0  ...   at (120.25, 152.43359375)   [120.25,  152.43359375]
8  38872.0     0  ...  at (117.96875, 152.765625)  [117.96875,  152.765625]

[5 rows x 7 columns]

In [0]:
train_data['x_axis']=train_data['new_event'].apply(lambda x: float(x[0]))
train_data['y_axis']=train_data['new_event'].apply(lambda x: float(x[1]))

train_data.drop(['event_contents','new_event'],axis=1,inplace=True)

In [0]:
test_data['x_axis']=test_data['new_event'].apply(lambda x: float(x[0]))
test_data['y_axis']=test_data['new_event'].apply(lambda x: float(x[1]))

test_data.drop(['event_contents','new_event'],axis=1,inplace=True)

---

아래 loop를 돌리던 도중 오류가 떠서 num: 187에서 멈춘 것을 확인할 수 있다. 상대방 없이 혼자플레이 하고 끝났던데..? 이런거 없애줘야 하는거 아닌가..?

In [32]:
train_data[train_data['game_id']==187]

        game_id  winner  time  player  species  event     x_axis      y_axis
301722    187.0     0.0   0.0     0.0      2.0    0.0  22.750000  147.007812
301750    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  145.757812
301773    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  135.097656
301774    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  126.585938
301775    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  122.445312
301776    187.0     0.0   0.0     0.0      2.0    0.0  21.613281  122.445312
301778    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  122.445312
301780    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  117.617188
301781    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  116.488281
301782    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  145.757812
301783    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  116.488281
301785    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  145.757812
301791    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  116.488281
301792    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  116.488281
301793    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  145.757812
301806    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  116.488281
301807    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  116.488281
301808    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  145.757812
301818    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  116.488281
301819    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  145.757812
301820    187.0     0.0   0.0     0.0      2.0    0.0  20.421875  116.488281
301821    187.0     0.0   0.0     0.0      2.0    0.0  24.500000  145.757812

In [53]:
del_data=train_data.groupby('game_id')['player'].nunique().reset_index(name='player_count')
del_data.head()

   game_id  player_count
0      0.0             2
1      1.0             2
2      2.0             2
3      3.0             2
4      4.0             2

In [56]:
del_data[del_data['player_count']!=2].shape

(22, 2)

In [61]:
drop_values=del_data[del_data['player_count']!=2]['game_id'].values
drop_values

array([  187., 10246., 12105., 13292., 14675., 17294., 21149., 23337.,
       24423., 24855., 24858., 25891., 26243., 26339., 27249., 27818.,
       32254., 33101., 34423., 34843., 35288., 37967.])

In [0]:
for num in drop_values:
  train_data.drop(train_data[train_data['game_id']==num].index,axis=0,inplace=True)

In [73]:
train_data[train_data['game_id']==10246].index #잘 삭제됐음 (조금 오래걸리네.)

Int64Index([], dtype='int64')

혹시 테스트에도 있을라나..?

In [78]:
del_test=test_data.groupby('game_id')['player'].nunique().reset_index(name='player_count')
del_test.head()

   game_id  player_count
0  38872.0             2
1  38873.0             2
2  38874.0             2
3  38875.0             2
4  38876.0             2

In [79]:
del_test[del_test['player_count']==1]

       game_id  player_count
1486   40358.0             1
1844   40716.0             1
5822   44694.0             1
7734   46606.0             1
10424  49296.0             1
12149  51021.0             1
12285  51157.0             1
12773  51645.0             1
13445  52317.0             1
15707  54579.0             1
16380  55252.0             1

큰 일났다.. 이거 어떡하지..?

---

In [17]:
df_train= pd.DataFrame(columns=make_df(train_data,100).columns)
df_test= pd.DataFrame(columns=make_df(train_data,100).columns)

for num in set(train_data['game_id'].values):
  df_train = pd.concat([df_train, make_df(train_data,num)], axis=0,sort=False)

for num in set(test_data['game_id'].values):
  df_test = pd.concat([df_test, make_df(test_data,num)], axis=0,sort=False)

IndexError: ignored