In [1]:
import os
import gc
import time
import math
import datetime
from math import log, floor
from sklearn.neighbors import KDTree

import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.utils import shuffle
from tqdm.notebook import tqdm as tqdm

import seaborn as sns
from matplotlib import colors
import matplotlib.pyplot as plt
from matplotlib.colors import Normalize

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

import pywt
from statsmodels.robust import mad

import scipy
import statsmodels
from scipy import signal
import statsmodels.api as sm
from fbprophet import Prophet
from scipy.signal import butter, deconvolve
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt

import warnings
warnings.filterwarnings("ignore")

!pip install pyramid-arima
from pyramid.arima import auto_arima

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Collecting pyramid-arima
  Downloading https://files.pythonhosted.org/packages/5c/84/57422f2a6ade3161c586545e38b518ba1b7ab30ee4a4acc29110c0aba2bc/pyramid_arima-0.9.0-cp36-cp36m-manylinux1_x86_64.whl (597kB)
     |████████████████████████████████| 604kB 2.8MB/s
Requirement already satisfied: scikit-learn>=0.17 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (0.22.2.post1)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (1.18.5)
Requirement already satisfied: Cython>=0.23 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (0.29.19)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (1.0.4)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (0.10.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.17->pyramid-arima) (0.15.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pyramid-arima) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pyramid-arima) (2018.9)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.9.0->pyramid-arima) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.19->pyramid-arima) (1.12.0)
Installing collected packages: pyramid-arima
Successfully installed pyramid-arima-0.9.0

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/Kaggle_data/m5-forecasting-accuracy/sales_train_evaluation.csv')
calendar = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/Kaggle_data/m5-forecasting-accuracy/calendar.csv')
sell_prices = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/Kaggle_data/m5-forecasting-accuracy/sell_prices.csv')

In [7]:
event_type_list=list(set(list(calendar['event_type_1'].unique()) + list(calendar['event_type_2'].unique())))
print(event_type_list)
event_type_list = event_type_list[1:]
print(event_type_list)

[nan, 'Sporting', 'National', 'Religious', 'Cultural']
['Sporting', 'National', 'Religious', 'Cultural']

In [8]:
event_name_list= list(set(list(calendar['event_name_1'].unique()) + list(calendar['event_name_2'].unique())))
print(event_name_list)
event_name_list = event_name_list[1:]
print(event_name_list)

[nan, 'IndependenceDay', 'Chanukah End', 'Purim End', 'LentStart', 'NBAFinalsStart', "Mother's day", 'VeteransDay', 'OrthodoxChristmas', 'Cinco De Mayo', 'SuperBowl', 'Pesach End', "Father's day", 'ValentinesDay', 'Easter', 'Christmas', 'PresidentsDay', 'LentWeek2', 'NBAFinalsEnd', 'ColumbusDay', 'EidAlAdha', 'Thanksgiving', 'MartinLutherKingDay', 'MemorialDay', 'Ramadan starts', 'NewYear', 'StPatricksDay', 'LaborDay', 'OrthodoxEaster', 'Eid al-Fitr', 'Halloween']
['IndependenceDay', 'Chanukah End', 'Purim End', 'LentStart', 'NBAFinalsStart', "Mother's day", 'VeteransDay', 'OrthodoxChristmas', 'Cinco De Mayo', 'SuperBowl', 'Pesach End', "Father's day", 'ValentinesDay', 'Easter', 'Christmas', 'PresidentsDay', 'LentWeek2', 'NBAFinalsEnd', 'ColumbusDay', 'EidAlAdha', 'Thanksgiving', 'MartinLutherKingDay', 'MemorialDay', 'Ramadan starts', 'NewYear', 'StPatricksDay', 'LaborDay', 'OrthodoxEaster', 'Eid al-Fitr', 'Halloween']

In [0]:
sell_prices['id' ]= sell_prices['item_id']+'_'+sell_prices['store_id']
sell_prices.drop(['store_id','item_id'],axis=1,inplace=True)

---

In [10]:
data.head()

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]

In [11]:
sales_data=data.iloc[:,6:]
sales_data['id'] = data['id']

del data
gc.collect()

sales_data = sales_data.melt(id_vars='id')
sales_data.id.replace(regex='_validation',value='',inplace=True)
sales_data.rename({'variable':'d'},axis=1,inplace=True)

sales_data['d'].replace(regex ='d_',value='',inplace=True)
sales_data['d'] = sales_data['d'].astype('int16')
calendar['d'].replace(regex ='d_',value='',inplace=True)
calendar['d'] = calendar['d'].astype('int16')

sales_data = sales_data.merge(calendar[['d','wm_yr_wk']],on='d')

sales_data = sales_data.merge(sell_prices[['id','wm_yr_wk','sell_price']],on=['id','wm_yr_wk'],how='left')

# sales_data['state'] = sales_data.id.apply(lambda x: x[-4:-2])
# sales_data['market'] = sales_data.id.apply(lambda x: x[-4:])

sales_data.head()

                              id  d  value  wm_yr_wk  sell_price
0  HOBBIES_1_001_CA_1_evaluation  1      0     11101         NaN
1  HOBBIES_1_002_CA_1_evaluation  1      0     11101         NaN
2  HOBBIES_1_003_CA_1_evaluation  1      0     11101         NaN
3  HOBBIES_1_004_CA_1_evaluation  1      0     11101         NaN
4  HOBBIES_1_005_CA_1_evaluation  1      0     11101         NaN

In [0]:
def make_onehot_type_col(col):
  sales_data[col] = 0
  for day in calendar.loc[(calendar['event_type_1'] == col)|(calendar['event_type_2'] == col),'d'].values:
    sales_data.loc[sales_data['d']==day, col] +=1

def make_onehot_name_col(col):
  sales_data[col] = 0
  for day in calendar.loc[(calendar['event_name_1'] == col)|(calendar['event_name_2'] == col),'d'].values:
    sales_data.loc[sales_data['d']==day, col] +=1

In [0]:
for col in event_type_list:
  make_onehot_type_col(col)

In [14]:
sales_data.head()

                              id  d  value  ...  National  Religious  Cultural
0  HOBBIES_1_001_CA_1_evaluation  1      0  ...         0          0         0
1  HOBBIES_1_002_CA_1_evaluation  1      0  ...         0          0         0
2  HOBBIES_1_003_CA_1_evaluation  1      0  ...         0          0         0
3  HOBBIES_1_004_CA_1_evaluation  1      0  ...         0          0         0
4  HOBBIES_1_005_CA_1_evaluation  1      0  ...         0          0         0

[5 rows x 9 columns]

우선 value랑 days만 다루면 되기 때문에 날짜만 합치고 일단 넘어가자.

In [15]:
sales_pivot = sales_data.pivot_table(index='d',columns='id',values='value')
sales_pivot.head()

id  FOODS_1_001_CA_1_evaluation  ...  HOUSEHOLD_2_516_WI_3_evaluation
d                                ...
1                             3  ...                                0
2                             0  ...                                1
3                             0  ...                                0
4                             1  ...                                1
5                             4  ...                                0

[5 rows x 30490 columns]

In [23]:
sales_pivot.index = calendar.loc[:1940,'date']
sales_pivot.index = pd.to_datetime(sales_pivot.index)
sales_pivot.head()

id          FOODS_1_001_CA_1_evaluation  ...  HOUSEHOLD_2_516_WI_3_evaluation
date                                     ...
2011-01-29                            3  ...                                0
2011-01-30                            0  ...                                1
2011-01-31                            0  ...                                0
2011-02-01                            1  ...                                1
2011-02-02                            4  ...                                0

[5 rows x 30490 columns]

In [0]:
sales_pivot.to_csv('/content/drive/My Drive/Colab Notebooks/data/Kaggle_data/m5-forecasting-accuracy/sales_pivot.csv')